name = "payme"
compatibility_date = "2024-01-01"
main = "src/index.ts"
preview_urls = true

[vars]
PRICE_SATS = "1000"

# NWC_URI = "" # Set in cloudflare dashboard as a secret
# Cloudflare Turnstile Test Keys for local development
# TURNSTILE_SITE_KEY = "1x00000000000000000000AA"
# TURNSTILE_SECRET_KEY = "1x00000000000000000000AA"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1

[[routes]]
pattern = "contact.plimbley.me"
custom_domain = true